7zip
acl
adduser
adwaita-icon-theme
aglfn
alsa-topology-conf
alsa-ucm-conf
amd64-microcode
apparmor
apport-core-dump-handler
apport-symptoms
apport
appstream
apt-utils
apt
at-spi2-common
at-spi2-core
attr
base-files
base-passwd
bash-completion
bash
bc
bcache-tools
bcftools
bedtools
bind9-dnsutils
bind9-host
bind9-libs
binutils-common
binutils-x86-64-linux-gnu
binutils
blt
bolt
bpfcc-tools
bpftrace
bsdextrautils
bsdutils
btop
btrfs-progs
build-essential
busybox-initramfs
busybox-static
bwa
byobu
bzip2-doc
bzip2
ca-certificates-java
ca-certificates
cifs-utils
cloud-guest-utils
cloud-init
cloud-initramfs-copymods
cloud-initramfs-dyn-netconf
cmake-data
cmake
colordiff
command-not-found
console-setup-linux
console-setup
coreutils
cpio
cpp-13-x86-64-linux-gnu
cpp-13
cpp-x86-64-linux-gnu
cpp
cron-daemon-common
cron
cryptsetup-bin
cryptsetup-initramfs
cryptsetup
csvkit
curl
dash
dbus-bin
dbus-daemon
dbus-session-bus-common
dbus-system-bus-common
dbus-user-session
dbus
dconf-gsettings-backend
dconf-service
debconf-i18n
debconf
debianutils
dhcpcd-base
diffutils
dirmngr
distro-info-data
distro-info
dmeventd
dmidecode
dmsetup
dosfstools
dpkg-dev
dpkg
dracut-install
e2fsprogs-l10n
e2fsprogs
eatmydata
ed
efibootmgr
eject
ethtool
fakeroot
fdisk
figlet
file
finalrd
findutils
firmware-sof-signed
fontconfig-config
fontconfig
fonts-dejavu-core
fonts-dejavu-extra
fonts-dejavu-mono
fonts-lyx
fonts-ubuntu-console
fonts-urw-base35
freeipmi-common
friendly-recovery
ftp
fuse3
fwupd-signed
fwupd
g++-13-x86-64-linux-gnu
g++-13
g++-x86-64-linux-gnu
g++
gawk
gcc-13-base
gcc-13-x86-64-linux-gnu
gcc-13
gcc-14-base
gcc-x86-64-linux-gnu
gcc
gdisk
gettext-base
gfortran-13-x86-64-linux-gnu
gfortran-13
gfortran-x86-64-linux-gnu
gfortran
gir1.2-girepository-2.0
gir1.2-glib-2.0
gir1.2-packagekitglib-1.0
git-man
git
gnupg-l10n
gnupg-utils
gnupg
gnuplot-data
gnuplot-qt
gnuplot
gpg-agent
gpg-wks-client
gpg
gpgconf
gpgsm
gpgv
grep
groff-base
grub-common
grub-efi-amd64-bin
grub-efi-amd64-signed
grub-efi-amd64
grub2-common
gsettings-desktop-schemas
gtk-update-icon-cache
gzip
hdparm
hicolor-icon-theme
hostname
htop
humanity-icon-theme
hwdata
ibverbs-providers
icu-devtools
ieee-data
inetutils-telnet
info
init-system-helpers
init
initramfs-tools-bin
initramfs-tools-core
initramfs-tools
install-info
intel-microcode
ipmitool
iproute2
iptables
iputils-ping
iputils-tracepath
iso-codes
isympy-common
isympy3
iucode-tool
java-common
javascript-common
jq
kbd
keyboard-configuration
keyboxd
keyutils
klibc-utils
kmod
kpartx
krb5-locales
landscape-common
less
libacl1
libaec0
libaio1t64
libalgorithm-diff-perl
libalgorithm-diff-xs-perl
libalgorithm-merge-perl
libaom3
libapparmor1
libappstream5
libapt-pkg6.0t64
libarchive13t64
libargon2-1
libasan8
libasound2-data
libasound2t64
libassuan0
libatasmart4
libatk-bridge2.0-0t64
libatk-wrapper-java-jni
libatk-wrapper-java
libatk1.0-0t64
libatm1t64
libatomic1
libatspi2.0-0t64
libattr1
libaudit-common
libaudit1
libauthen-sasl-perl
libavahi-client3
libavahi-common-data
libavahi-common3
libbinutils
libblas-dev
libblas3
libblkid1
libblockdev-crypto3
libblockdev-fs3
libblockdev-loop3
libblockdev-mdraid3
libblockdev-nvme3
libblockdev-part3
libblockdev-swap3
libblockdev-utils3
libblockdev3
libblosc1
libblosc2-2t64
libboost-iostreams1.83.0
libboost-thread1.83.0
libbpf1
libbpfcc
libbrotli1
libbsd0
libbytesize-common
libbytesize1
libbz2-1.0
libbz2-dev
libc-bin
libc-dev-bin
libc-devtools
libc6-dev
libc6
libcairo-gobject2
libcairo2
libcap-ng0
libcap2-bin
libcap2
libcbor0.10
libcc1-0
libcephfs2
libclang-cpp18
libclang1-18
libclone-perl
libcolord2
libcom-err2
libcrypt-dev
libcrypt1
libcryptsetup12
libctf-nobfd0
libctf0
libcups2t64
libcurl3t64-gnutls
libcurl4-openssl-dev
libcurl4t64
libdata-dump-perl
libdatrie1
libdb5.3t64
libdbus-1-3
libdbus-glib-1-2
libdconf1
libde265-0
libdebconfclient0
libdeflate0
libdevmapper-event1.02.1
libdevmapper1.02.1
libdouble-conversion3
libdpkg-perl
libdrm-amdgpu1
libdrm-common
libdrm-intel1
libdrm2
libduktape207
libdw1t64
libeatmydata1
libedit2
libefiboot1t64
libefivar1t64
libegl-mesa0
libegl1
libelf1t64
libencode-locale-perl
libepoxy0
liberror-perl
libestr0
libevdev2
libevent-core-2.1-7t64
libexpat1-dev
libexpat1
libext2fs2t64
libfakeroot
libfastjson4
libfdisk1
libffi8
libfido2-1
libfile-basedir-perl
libfile-desktopentry-perl
libfile-fcntllock-perl
libfile-listing-perl
libfile-mimeinfo-perl
libflashrom1
libfont-afm-perl
libfontconfig1
libfontenc1
libfreeipmi17
libfreetype6
libfribidi0
libftdi1-2
libfuse3-3
libfwupd2
libgbm1
libgcc-13-dev
libgcc-s1
libgcrypt20
libgd3
libgdbm-compat4t64
libgdbm6t64
libgdk-pixbuf-2.0-0
libgdk-pixbuf2.0-bin
libgdk-pixbuf2.0-common
libgfortran-13-dev
libgfortran5
libgif7
libgirepository-1.0-1
libgl1-mesa-dri
libgl1
libgles2
libglib2.0-0t64
libglib2.0-bin
libglib2.0-data
libglvnd0
libglx-mesa0
libglx0
libgmp10
libgnutls30t64
libgomp1
libgpg-error-l10n
libgpg-error0
libgpgme11t64
libgpm2
libgprofng0
libgraphite2-3
libgssapi-krb5-2
libgstreamer1.0-0
libgtk-3-0t64
libgtk-3-bin
libgtk-3-common
libgudev-1.0-0
libgusb2
libharfbuzz0b
libhdf5-103-1t64
libheif-plugin-aomdec
libheif-plugin-aomenc
libheif-plugin-libde265
libheif1
libhogweed6t64
libhtml-form-perl
libhtml-format-perl
libhtml-parser-perl
libhtml-tagset-perl
libhtml-tree-perl
libhts3t64
libhtscodecs2
libhttp-cookies-perl
libhttp-daemon-perl
libhttp-date-perl
libhttp-message-perl
libhttp-negotiate-perl
libhwasan0
libibverbs1
libice-dev
libice6
libicu-dev
libicu74
libidn2-0
libimagequant0
libimobiledevice6
libinih1
libinput-bin
libinput10
libintl-perl
libintl-xs-perl
libio-html-perl
libio-socket-ssl-perl
libio-stringy-perl
libip4tc2
libip6tc2
libipc-system-simple-perl
libisl23
libisns0t64
libitm1
libjansson4
libjbig0
libjcat1
libjpeg-dev
libjpeg-turbo8-dev
libjpeg-turbo8
libjpeg8-dev
libjpeg8
libjq1
libjs-jquery-ui
libjs-jquery
libjs-sphinxdoc
libjs-underscore
libjson-c5
libjson-glib-1.0-0
libjson-glib-1.0-common
libjsoncpp25
libk5crypto3
libkeyutils1
libklibc
libkmod2
libkrb5-3
libkrb5support0
libksba8
liblapack-dev
liblapack3
liblbfgsb0
liblcms2-2
libldap-common
libldap2
libldb2
liblerc4
libllvm18
libllvm19
libllvm20
liblmdb0
liblocale-gettext-perl
liblsan0
liblua5.4-0
liblvm2cmd2.03
liblwp-mediatypes-perl
liblwp-protocol-https-perl
liblz4-1
liblzma-dev
liblzma5
liblzo2-2
libmagic-mgc
libmagic1t64
libmailtools-perl
libmaxminddb0
libmbim-glib4
libmbim-proxy
libmbim-utils
libmd0
libmd4c0
libmm-glib0
libmnl0
libmodule-find-perl
libmodule-scandeps-perl
libmount1
libmpc3
libmpfr6
libmspack0t64
libmtdev1t64
libncurses-dev
libncurses6
libncursesw6
libnet-dbus-perl
libnet-http-perl
libnet-smtp-ssl-perl
libnet-ssleay-perl
libnetfilter-conntrack3
libnetplan1
libnettle8t64
libnewt0.52
libnfnetlink0
libnftables1
libnftnl11
libnghttp2-14
libnl-3-200
libnl-genl-3-200
libnl-route-3-200
libnotify4
libnpth0t64
libnspr4
libnss-systemd
libnss3
libntfs-3g89t64
libnuma1
libnvme1t64
libonig5
libopenipmi0t64
libopeniscsiusr
libopenjp2-7
libp11-kit0
libpackagekit-glib2-18
libpam-cap
libpam-modules-bin
libpam-modules
libpam-runtime
libpam-systemd
libpam0g
libpango-1.0-0
libpangocairo-1.0-0
libpangoft2-1.0-0
libpaper-utils
libpaper1
libparted2t64
libpcap0.8t64
libpci3
libpciaccess0
libpcre2-16-0
libpcre2-32-0
libpcre2-8-0
libpcre2-dev
libpcre2-posix3
libpcsclite1
libperl5.38t64
libpipeline1
libpixman-1-0
libpkgconf3
libplist-2.0-4
libplymouth5
libpng-dev
libpng-tools
libpng16-16t64
libpolkit-agent-1-0
libpolkit-gobject-1-0
libpopt0
libproc-processtable-perl
libproc2-0
libprotobuf-c1
libpsl5t64
libpthread-stubs0-dev
libpython3-dev
libpython3-stdlib
libpython3.12-dev
libpython3.12-minimal
libpython3.12-stdlib
libpython3.12t64
libqhull-r8.0
libqmi-glib5
libqmi-proxy
libqmi-utils
libqrtr-glib0
libqt5core5t64
libqt5dbus5t64
libqt5gui5t64
libqt5network5t64
libqt5printsupport5t64
libqt5qml5
libqt5qmlmodels5
libqt5quick5
libqt5svg5
libqt5waylandclient5
libqt5waylandcompositor5
libqt5widgets5t64
libquadmath0
librados2
libraqm0
librdmacm1t64
libreadline-dev
libreadline8t64
libreiserfscore0t64
librhash0
librsvg2-2
librsvg2-common
librtmp1
libsasl2-2
libsasl2-modules-db
libsasl2-modules
libseccomp2
libselinux1
libsemanage-common
libsemanage2
libsensors-config
libsensors5
libsepol2
libsframe1
libsgutils2-1.46-2
libsharpyuv0
libsigsegv2
libslang2
libsm-dev
libsm6
libsmartcols1
libsmbclient0
libsnappy1v5
libsnmp-base
libsnmp40t64
libsodium23
libsort-naturally-perl
libsqlite3-0
libss2
libssh-4
libssl-dev
libssl3t64
libstdc++-13-dev
libstdc++6
libstemmer0d
libsystemd-shared
libsystemd0
libsz2
libtalloc2
libtasn1-6
libtcl8.6
libtdb1
libterm-readkey-perl
libtevent0t64
libtext-charwidth-perl
libtext-iconv-perl
libtext-wrapi18n-perl
libthai-data
libthai0
libtie-ixhash-perl
libtiff6
libtimedate-perl
libtinfo6
libtirpc-common
libtirpc3t64
libtk8.6
libtraceevent1-plugin
libtraceevent1
libtracefs1
libtry-tiny-perl
libtsan2
libtss2-esys-3.0.2-0t64
libtss2-mu-4.0.1-0t64
libtss2-sys1t64
libtss2-tcti-cmd0t64
libtss2-tcti-device0t64
libtss2-tcti-mssim0t64
libtss2-tcti-swtpm0t64
libubsan1
libuchardet0
libudev1
libudisks2-0
libunistring5
libunwind8
libupower-glib3
liburcu8t64
liburi-perl
liburing2
libusb-1.0-0
libusbmuxd6
libutempter0
libuuid1
libuv1t64
libvolume-key1
libvulkan1
libwacom-common
libwacom9
libwayland-client0
libwayland-cursor0
libwayland-egl1
libwayland-server0
libwbclient0
libwebp7
libwebpdemux2
libwebpmux3
libwrap0
libwww-perl
libwww-robotrules-perl
libwxbase3.2-1t64
libwxgtk3.2-1t64
libx11-6
libx11-data
libx11-dev
libx11-protocol-perl
libx11-xcb1
libxau-dev
libxau6
libxaw7
libxcb-dri3-0
libxcb-glx0
libxcb-icccm4
libxcb-image0
libxcb-keysyms1
libxcb-present0
libxcb-randr0
libxcb-render-util0
libxcb-render0
libxcb-shape0
libxcb-shm0
libxcb-sync1
libxcb-util1
libxcb-xfixes0
libxcb-xinerama0
libxcb-xinput0
libxcb-xkb1
libxcb1-dev
libxcb1
libxcomposite1
libxcursor1
libxdamage1
libxdmcp-dev
libxdmcp6
libxext6
libxfixes3
libxft2
libxi6
libxinerama1
libxkbcommon-x11-0
libxkbcommon0
libxkbfile1
libxml-parser-perl
libxml-twig-perl
libxml-xpathengine-perl
libxml2-dev
libxml2
libxmlb2
libxmlsec1t64-openssl
libxmlsec1t64
libxmu6
libxmuu1
libxpm4
libxrandr2
libxrender1
libxshmfence1
libxslt1.1
libxss1
libxt-dev
libxt6t64
libxtables12
libxtst6
libxv1
libxxf86dga1
libxxf86vm1
libxxhash0
libyaml-0-2
libzstd1
linux-base
linux-firmware
linux-generic
linux-headers-6.8.0-88-generic
linux-headers-6.8.0-88
linux-headers-6.8.0-90-generic
linux-headers-6.8.0-90
linux-headers-generic
linux-image-6.8.0-88-generic
linux-image-6.8.0-90-generic
linux-image-generic
linux-libc-dev
linux-modules-6.8.0-88-generic
linux-modules-6.8.0-90-generic
linux-modules-extra-6.8.0-88-generic
linux-modules-extra-6.8.0-90-generic
linux-tools-6.8.0-88-generic
linux-tools-6.8.0-88
linux-tools-6.8.0-90-generic
linux-tools-6.8.0-90
linux-tools-common
locales
login
logrotate
logsave
lsb-base
lsb-release
lshw
lsof
lto-disabled-list
lvm2
lxd-agent-loader
lxd-installer
make
man-db
manpages-dev
manpages
mawk
mdadm
media-types
mesa-libgallium
mesa-vulkan-drivers
modemmanager
mokutil
motd-news-config
mount
mtr-tiny
multipath-tools
nano
ncurses-base
ncurses-bin
ncurses-term
needrestart
net-tools
netbase
netcat-openbsd
netfilter-persistent
netplan-generator
netplan.io
networkd-dispatcher
nftables
ntfs-3g
numactl
open-iscsi
open-vm-tools
openipmi
openjdk-21-jdk-headless
openjdk-21-jdk
openjdk-21-jre-headless
openjdk-21-jre
openssh-client
openssh-server
openssh-sftp-server
openssl
os-prober
overlayroot
p7zip-full
packagekit-tools
packagekit
parted
passwd
pastebinit
patch
pci.ids
pciutils
perl-base
perl-modules-5.38
perl-openssl-defaults
perl
pinentry-curses
pipx
pkg-config
pkgconf-bin
pkgconf
plocate
plymouth-theme-ubuntu-text
plymouth
polkitd
pollinate
powermgmt-base
procps
psmisc
publicsuffix
python-apt-common
python-babel-localedata
python-matplotlib-data
python-odf-doc
python-odf-tools
python-tables-data
python3-agate
python3-agatedbf
python3-agateexcel
python3-agatesql
python3-appdirs
python3-apport
python3-apt
python3-argcomplete
python3-asgiref
python3-attr
python3-automat
python3-babel
python3-bcrypt
python3-blinker
python3-boto3
python3-botocore
python3-bottleneck
python3-bpfcc
python3-brotli
python3-bs4
python3-cairo
python3-certifi
python3-cffi-backend
python3-chardet
python3-click
python3-colorama
python3-commandnotfound
python3-configobj
python3-constantly
python3-contourpy
python3-cpuinfo
python3-cryptography
python3-cssselect
python3-csvkit
python3-cycler
python3-dateutil
python3-dbfread
python3-dbus
python3-debconf
python3-debian
python3-decorator
python3-defusedxml
python3-dev
python3-distro-info
python3-distro
python3-distupgrade
python3-dnspython
python3-docx
python3-et-xmlfile
python3-flask
python3-fonttools
python3-freetype
python3-fs
python3-gdbm
python3-gi
python3-gpg
python3-greenlet
python3-hamcrest
python3-html5lib
python3-httplib2
python3-hyperlink
python3-icu
python3-idna
python3-incremental
python3-isodate
python3-itsdangerous
python3-jinja2
python3-jmespath
python3-json-pointer
python3-jsonpatch
python3-jsonschema
python3-jwt
python3-kiwisolver
python3-launchpadlib
python3-lazr.restfulclient
python3-lazr.uri
python3-ldb
python3-leather
python3-lxml
python3-lz4
python3-magic
python3-markdown-it
python3-markdown
python3-markupsafe
python3-matplotlib
python3-mdurl
python3-minimal
python3-mpmath
python3-netaddr
python3-netifaces
python3-netplan
python3-newt
python3-numexpr
python3-numpy
python3-oauthlib
python3-odf
python3-olefile
python3-openpyxl
python3-openssl
python3-packaging
python3-pandas-lib
python3-pandas
python3-parsedatetime
python3-pexpect
python3-pil.imagetk
python3-pil
python3-pip-whl
python3-pip
python3-pkg-resources
python3-platformdirs
python3-problem-report
python3-psutil
python3-ptyprocess
python3-pyasn1-modules
python3-pyasn1
python3-pyasyncore
python3-pyfiglet
python3-pygments
python3-pyinotify
python3-pyparsing
python3-pyrsistent
python3-pysam
python3-pytimeparse
python3-reportlab
python3-requests
python3-rich
python3-rlpycairo
python3-s3transfer
python3-samba
python3-scipy
python3-serial
python3-service-identity
python3-setuptools-whl
python3-setuptools
python3-simplejson
python3-six
python3-slugify
python3-software-properties
python3-soupsieve
python3-sqlalchemy-ext
python3-sqlalchemy
python3-sympy
python3-systemd
python3-tables-lib
python3-tables
python3-talloc
python3-tdb
python3-tk
python3-twisted
python3-typing-extensions
python3-tz
python3-ufolib2
python3-unicodedata2
python3-unidecode
python3-update-manager
python3-urllib3
python3-userpath
python3-vcf
python3-venv
python3-wadllib
python3-webencodings
python3-werkzeug
python3-wheel
python3-xkit
python3-xlrd
python3-yaml
python3-zope.interface
python3.12-dev
python3.12-minimal
python3.12-venv
python3.12
python3
qemu-guest-agent
qt5-gtk-platformtheme
qttranslations5-l10n
qtwayland5
r-base-core
r-base-dev
r-cran-boot
r-cran-class
r-cran-cluster
r-cran-codetools
r-cran-foreign
r-cran-kernsmooth
r-cran-lattice
r-cran-mass
r-cran-matrix
r-cran-mgcv
r-cran-nlme
r-cran-nnet
r-cran-rpart
r-cran-spatial
r-cran-survival
r-doc-html
r-recommended
readline-common
rpcsvc-proto
rsync
rsyslog
run-one
samba-ad-provision
samba-common-bin
samba-common
samba-dsdb-modules
samba-libs
samba-vfs-modules
samba
sbsigntool
screen
secureboot-db
sed
sensible-utils
session-migration
sg3-utils-udev
sg3-utils
sgml-base
shared-mime-info
shim-signed
smbclient
snapd
software-properties-common
sosreport
spice-vdagent
squashfs-tools
ssh-import-id
strace
sudo
sysstat
systemd-dev
systemd-hwe-hwdb
systemd-resolved
systemd-sysv
systemd-timesyncd
systemd
sysvinit-utils
tabix
tailscale-archive-keyring
tailscale
tar
tcl8.6
tcl
tcpdump
tdb-tools
telnet
thermald
thin-provisioning-tools
time
tk8.6-blt2.5
tmux
tnftp
toilet-fonts
tpm-udev
trace-cmd
traceroute
tree
tzdata
ubuntu-drivers-common
ubuntu-kernel-accessories
ubuntu-keyring
ubuntu-minimal
ubuntu-mono
ubuntu-pro-client-l10n
ubuntu-pro-client
ubuntu-release-upgrader-core
ubuntu-server-minimal
ubuntu-server
ubuntu-standard
ucf
udev
udisks2
unattended-upgrades
unicode-data
unminimize
unzip
update-manager-core
update-notifier-common
upower
usb-modeswitch-data
usb-modeswitch
usb.ids
usbmuxd
usbutils
util-linux
uuid-runtime
vcftools
vim-common
vim-runtime
vim-tiny
vim
vnstat
wget
whiptail
wireless-regdb
x11-common
x11-utils
x11-xserver-utils
x11proto-dev
xauth
xdg-user-dirs
xdg-utils
xfonts-encodings
xfonts-utils
xfsprogs
xkb-data
xml-core
xorg-sgml-doctools
xtrans-dev
xxd
xz-utils
zerofree
zip
zlib1g-dev
zlib1g
zstd
zutty
